section{
    min-height: 100vh;
    padding-top:100px;
}
h1{
    font-size:75px;
    text-align: center;
    font-family: "Blaka", system-ui;
    text-transform: uppercase;
}
.sect {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.arti {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

@media (max-width: 950px) {
    .arti {
        flex: 1 1 calc(50% - 40px); /* Dos columnas con un gap de 40px en pantallas pequeñas */
    }
}

@media (max-width: 600px) {
    .arti {
        flex: 1 1 100%; /* Una columna en pantallas muy pequeñas */
    }
}

.container{
    position: relative;
    display: flex;
    margin:50px;
}

.container .card{
    position: relative;
    width: 300px;
    height: 400px;
}

.container .card .imgBx{
    position: absolute;
    inset: 0;
    background-color: #222;
    border-radius: 20px;
    
}

.container .card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    border-radius: 20px;
}

.container .card:hover .imgBx img{
    opacity: 0;
}

.container .card .c3d{
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    transform: translateY(20%);
    width: 110%;
    height: auto; 
}

.container .card:hover .c3d{
    opacity: 1;
    transform: translateY(-10%);
}

.card h2{
    position: absolute;
    bottom: 10px;
    left: 70%;
    transform: translateX(-50%);
    color:#fff;
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    width: 80%;
    text-align: center;
    padding: 5px 20px;
    border-radius: 10px;
    opacity: 0;
    text-transform: capitalize;
}

.card:hover h2{
    opacity: 1;
    bottom: 30px;
}

@media(max-width:450px){
    .card h2{
        width: 70%;
    }
    .arti{
        width: 350px;
    }
}
