h1{
  font-size: 50px;
}
h4{
  font-size: 20px;
}
#boxes{
  width: 100%;
  display: flex;
  flex-direction:column ;
  align-items: center;
}
#tabs{
  display: flex;
  flex-direction: row;
  width:100%;
  justify-content: center;
  flex-flow: row wrap;
} 
@media (min-width:950px) {
  #tabs{
    align-items: center;
    width: 1250px;
  } 
}
#tabs-content{
  text-align:center;
  width:250px;
  height:360px;
  background-color:none;
  border-radius:15px;
  box-shadow:0 0 10px rgb(255,255,255,0.3);
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top:15px;
  margin:30px;
  transition:0.5s;
}
#tabs-content > img{
  width:225px;
  height:225px;
  border-radius:15px;
  transition:0.5s;
}

/*#tabs-content:hover > img{
  transform:scale(1.5);
  transition:0.5s;
}*/


#tabs-content a{
  padding:5px 15px;
  text-decoration:none;
  background-color:none;
  border:1px solid rgb(255,255,255,0.3);
  color:#fff;
  border-radius:10px;
  transition: 0.5s;
}
#tabs-content a:hover{
  background-color: white;
  color:black;
  transition: 0.5s;
  border:1px solid rgb(255,255,255,0.3);
  cursor: pointer;
}

#title-dialog{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#title-dialog > button{
  width: 50px;
  height: 25px;
}
#dialogo{
  padding:5px 25px;
  width: 350px;
  height: 300px;
  border:none;
  border-radius: 20px;
  background-color: #fff;
}
#dialogo  img{
  width:200px;
  height:200px;
}
#dialogo  p:first-of-type{
  margin-top:-15px;
  font-size: 14px;
}
/*Rarezas*/
#common{
  color:rgb(37, 151, 46)
}
