body{
    margin:0;
    padding: 0;
    background: linear-gradient(245.59deg, #4d9559 0% , #38703d 28.53%, #133917 75.52%);
    /*background: linear-gradient(245.59deg, #6b3d6b 0%, #7d5780 28.53%, #5f3e5f 75.52%);*/
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color:white;
    scrollbar-width: none;
}
::-webkit-scrollbar {
    display: none;
}
#page{
    box-sizing: border-box;
    height: 100vh;
    /*
    LA ANIMACION DE CARGA SI SOLO ESTA ESTE ELEMTO SE VERA UN POCO RARO, ALE METER MAS ELEMENTOS SE VE BASTANTE BIEN
    */
    animation-name: carga;
    animation-duration: 2s;
    animation-direction: linear;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#home-content {
    color:white;
}
#home-content h1{
    font-family: "Blaka", system-ui;
    font-style: normal;
    text-transform: uppercase;
    font-size: 60px;
    margin-top:-20px;
}
#home-content > #explain{
    width: 700px;
    padding: 0 0 50px 0;
}

#imagen > #ima{
    filter:drop-shadow(-5px 10px 30px black);
}

#links{
    border-radius:50px;
    border: 1px solid rgb(255,255,255,0.2);
    padding:5px 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
    transition:0.5s;
}
#links:hover {
    background-color: white;
    color:black;
    transition:0.5s;
  }

@keyframes carga{
	0%{
        margin-top: -50px;
		opacity:0.1;
}
	100%{
		opacity:1;
	}
}

@keyframes vista-hov{
	0%{
}
	100%{
        border: 10px solid rgb(255,255,255,0.2);
	}
}
