<section class="boxes" id="skins">
    @for(perso of personaje; track personaje){

        
        @if(perso.nombre == nom && nom!="wizard"){
            <h1>Skins</h1>
            <div id="tabs">
            @for(skin of skins; track skins){
                <article id="tabs-content">
                <img src="assets/{{team}}/{{perso.nombre}}/skins/{{skin.foto}}.png" (error)="imageError($event)"/>
                <h3>{{skin.nombre}}</h3>
                <a (click)="abrir_info(skin.nombre,skin.rareza,skin.obtencion,skin.extra)">View More</a>
                </article>
            }
            </div>

            <h1>Sets</h1>
            <div id="tabs">
                @for(set of sets; track sets){
                    <article id="tabs-content">
                    <img src="assets/{{team}}/{{perso.nombre}}/sets/{{set.foto}}.png" (error)="imageError($event)"/>
                    <h3>{{set.nombre}}</h3>
                    <a (click)="abrir_info(set.nombre,set.rareza,set.obtencion,set.extra)">View More</a>
                    </article>
                }
            </div>
    
            <h1>Hats</h1>
            <div id="tabs">
                @for(hat of hats; track hats){
                    <article id="tabs-content">
                    <img src="assets/{{team}}/{{perso.nombre}}/hats/{{hat.foto}}.png" (error)="imageError($event)"/>
                    <h3>{{hat.nombre}}</h3>
                    <a (click)="abrir_info(hat.nombre,hat.rareza,hat.obtencion,hat.extra)">View More</a>
                    </article>
                }

            </div>
        }@else if(perso.nombre == nom){
            <h1>Skins</h1>
            <div id="tabs">
            @for(skin of skins; track skins){
                <article id="tabs-content">
                <img src="assets/{{team}}/{{perso.nombre}}/skins/{{skin.foto}}.png" (error)="imageError($event)"/>
                <h3>{{skin.nombre}}</h3>
                <a (click)="abrir_info(skin.nombre,skin.rareza,skin.obtencion,skin.extra)">View More</a>
                </article>
            }
            </div>
        }
    }
</section>
