<section>
    <article class="links">
        <a routerLink="/">Home</a>
        <a routerLink="/plantas">Plantas</a>
        <a routerLink="/zombies">Zombies</a>
        <a routerLink="/mapas">Mapas</a>
        <a routerLink="/emotes">Emotes</a>
    </article>
    <article class="derechos">
        <p>© 2025 Programoreno. Todos los derechos reservados.</p>
        <p>Página de fans de Plantas contra Zombies, sin afiliación con EA/PopCap.</p>
    </article>
    <article>
        <div class="redes">
            <a href="https://github.com/guillermooom" target="_blank"><img src="../../../assets/github.png"></a>
            <a href="https://x.com/programoreno?lang=es" target="_blank"><img src="../../../assets/twitterx.png"></a>
        </div>
        <a href="https://guillermooom.github.io" target="_blank">www.programoreno.es</a>
    </article>
</section>