<section class="boxes" id="skins">
    <h1>Skins</h1>
        <div id="tabs">
            @for(planta of plantas; track plantas){
                @if(planta.nombre == nom){
                    @for(skin of skins; track skins){
                        <article id="tabs-content">
                        <img src="assets/plants/{{planta.nombre}}/skins/{{skin.foto}}.png"/>
                        <h3>{{skin.nombre}}</h3>
                        <a (click)="abrir_info(skin.nombre,skin.rareza,skin.obtencion,skin.extra)">View More</a>
                        </article>
                    }
                }
            }
        </div>
</section>
