<section class="boxes" id="skins">
    <h1>Skins</h1>
        <div id="tabs">
            @for(planta of plantas; track plantas){
                @if(planta.nombre == nom){
                    @for(skin of skins; track skins){
                        <article id="tabs-content">
                        <img src="assets/plants/{{planta.nombre}}/{{skin.foto}}.png"/>
                        <h3>{{skin.nombre}}</h3>
                        <a (click)="abrir_info(skin.nombre,skin.rareza,skin.obtencion,skin.extra)">View More</a>
                        </article>
                    }
                }
            }
        </div>
            
    
            <article id="tabs-content">
            <img src="assets/plants/chomper/Icon_Chomper_Skin_Defaultblue_large.png"/>
            <h3>Bluer Chewer</h3>
            <a onclick="abrir_info('Bluer Chewer','Common','Fall Festival prize map, costs 10 Prize Bulbs','He really has nothing to be blue about, he\'s got great friends, racquetball on Tuesdays, and a nice 401(k). ')">View More</a>
            </article>            

            <article id="tabs-content">
            <img src="assets/plants/chomper/Icon_Chomper_Skin_Knight_Large.png"/>
            <h3>Chomp Knight</h3>
            <a onclick="abrir_info('Chomp Knight','SuperRare','Summer DayZ prize map, cost 10 Prize Bulbs','Neither valiant, nor heroic, he\'s just a chomper stuck in metal armor. ')">View More</a>
            </article>
    
            <article id="tabs-content">
            <img src="assets/plants/chomper/Icon_Chomper_Skin_Pinata_large.png"/>
            <h3>Chompy-Mâché</h3>
            <a onclick="abrir_info('Chompy-Mâché','Legendary','Purchasable from Rux for 1,000 Rainbow Stars or Purchasable from Rux for 200,000 Coins (Nintendo Switch Edition only)','He\'s all thrills, frills, and bite. ')">View More</a>
            </article>
    
            <article id="tabs-content">
            <img src="assets/plants/chomper/Cuddle_chomper.png"/>
            <h3>Cuddle Chomper</h3>
            <a onclick="abrir_info('Cuddle Chomper','SuperRare','Reward-O-Tron 9000','With fur so soft everyone wants to know his brand of conditioner.')">View More</a>
            </article>
    
            <article id="tabs-content">
            <img src="assets/plants/chomper/Icon_Chomper_Skin_DefaultDirtyDog_large.png"/>
            <h3>Messed Up Pup</h3>
            <a onclick="abrir_info('Messed Up Pup','Rare','Purchasable from Rux for 550 Rainbow Stars','Truly man\'s best friend-if a best friend licks your face after eating a burrito from a landfill. ')">View More</a>
            </article>
            
    
            <article id="tabs-content">
            <img src="assets/plants/chomper/Icon_Chomper_Skin_DefaultEasterEggs_Large.png"/>
            <h3>Egg-Streme Makeover</h3>
            <a onclick="abrir_info('Sea Pea','Rare','Purchasable from Rux for 550 Rainbow Stars','He wanted to make a drastic change in his life. He got eggsactly what he asked for.')">View More</a>
            </article>

            <article id="tabs-content">
            <img src="assets/plants/chomper/Icon_Chomper_Skin_Teddypink_large.png"/>
            <h3>Shaggy Shampooie</h3>
            <a onclick="abrir_info('Shaggy Shampooie','Common','Valenbrainz prize map, costs 20 Prize Bulbs','He takes great pride in cutting and styling his own hair. ')">View More</a>
            </article>

            <article id="tabs-content">
            <img src="assets/plants/chomper/Olive_chomper.png"/>
            <h3>Olive Chomper </h3>
            <a onclick="abrir_info('Olive Chomper ','Common','Reward-O-Tron 9000','Olive Chomper likes sitcoms, satires and sailboats.')">View More</a>
            </article>

            <article id="tabs-content">
            <img src="assets/plants/chomper/Z-chomp.png"/>
            <h3>Z-Chomp </h3>
            <a onclick="abrir_info('Z-Chomp ','Rare','Reward-O-Tron 9000','Don\'t call him a zebra. He only responds to Z-Chomp.')">View More</a>
            </article>
    

    </section>
