
<section>
    <h1>zombies</h1>
    <article class="sect">
        @for(zombie of zombies; track zombies){
            <div class="arti">
                <a class="container" routerLink="{{zombie.nombre}}">
                    <div class="card">
                        <div class="imgBx">
                            <img src="assets/zombies/{{zombie.nombre}}/art-{{zombie.nombre}}.png">
                        </div>
                        @if(zombie.nombre==="chomper"){
                            <img [ngStyle]="{ width: '20%;'}" src="assets/zombies/{{zombie.nombre}}/{{zombie.nombre}}.png" class="c3d">
                        }@else{
                            <img src="assets/zombies/{{zombie.nombre}}/{{zombie.nombre}}.png" class="c3d">
                        }
                        <h2>{{zombie.nombre}}</h2>
                    </div>
                </a>
            </div>
            
        }
    </article>
</section>