<section id="page">
    @for(personaje of personajes; track personajes){
            @if(personaje.nombre == nom){
                <div id="home-content">
                    <p><a routerLink="/{{team}}">#{{team}}</a></p>
                    <h1>{{personaje.nombre}}</h1>
                    <div class="clas">
                        <img src="assets/{{personaje.clase}}.png" class="ima"><p class="clase">{{personaje.clase}}</p><img src="assets/{{personaje.clase}}.png" class="ima">
                    </div>
                    <p id="explain">{{personaje.descrip}}</p>
                </div>
                <div id="imagen">
                    <img id="ima" src="assets/{{team}}/{{personaje.nombre}}/{{personaje.nombre}}.png">
                </div>
            }
        
    }
</section>