<section id="page">
    @for(planta of plantas; track plantas){
            @if(planta.nombre == nom){
                <div id="home-content">
                    <p><a routerLink="/plantas">#Plants</a></p>
                    <h1>{{planta.nombre}}</h1>
                    <div class="clas">
                        <img src="assets/{{planta.clase}}.png" class="ima"><p class="clase">{{planta.clase}}</p><img src="assets/{{planta.clase}}.png" class="ima">
                    </div>
                    <p id="explain">{{planta.descrip}}</p>
                </div>
                <div id="imagen">
                    <img id="ima" src="assets/plantas/{{planta.nombre}}/{{planta.nombre}}.png">
                </div>
            }
        
    }
</section>