<section id="page">
    @for(planta of plantas; track plantas){

        
                <div id="home-content">
                    <p>#Plants</p>
                    <h1>{{planta.nombre}}</h1>
                    <p id="explain">{{planta.descrip}}</p>

                    <!--<p id="explain">El insaciable depredador subterráneo de Plantas vs. Zombies que emerge para devorar a los zombis enteros en un solo bocado,
                        convirtiéndose en la defensa perfecta para tu jardín con su habilidad de atrapar a los enemigos desprevenidos y mantener tu territorio libre de amenazas.</p>-->
                    <!--<a id="links" onclick="scroll_sets()">Ver Mas</a>-->
                </div>
            
                <div id="imagen">
                    <img id="ima" src="assets/plants/chomper/chomper.png">
                </div>
            

        
    }
</section>