<!--<nav class="navbar">
    <div class="navbar-container">
      <a class="navbar-brand" routerLink="/home">BrandName</a>
      <button class="navbar-toggler" (click)="toggleMenu()">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="navbar-links" [class.active]="menuActive">
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li class="dropdown">
            <a href="#" (click)="toggleDropdown()">Plantas</a>
            <ul class="dropdown-menu" [class.active]="dropdownActive">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
            </ul>
          </li>
          <li><a routerLink="/mapas">Maps</a></li>
        </ul>
      </div>
    </div>
  </nav>
-->

<!--  
<nav>
    <div class="menu-toggle" (click)="toggleMenu()">☰ Menú</div>
  
    <ul class="menu" [class.show]="isMenuOpen">
      <li><a href="#">Inicio</a></li>
      <li>
        <a href="javascript:void(0)" (click)="toggleSubmenu($event)">Servicios</a>
        <ul class="submenu" [class.active]="isSubmenuOpen">
          <li><a href="#">Consultoría</a></li>
          <li><a href="#">Desarrollo</a></li>
          <li><a href="#">Soporte</a></li>
        </ul>
      </li>
      <li><a href="#">Nosotros</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>
-->

<nav>
  <div class="menu-toggle" (click)="toggleMenu()">
    <div class="burger" [class.open]="isOpen">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  
  <ul class="menu" [class.show]="isMenuOpen">
    <li>
      <a href="#">Inicio</a>
    </li>

    <li>
      <a href="#">Contacto</a>
    </li>
  </ul>
</nav>





