.inicio {
    background: none; /* Eliminar la imagen de fondo */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Asegura que el video no se salga del contenedor */
    position: relative; /* Para posicionar el video absolutamente */
}

.inicio video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.25); /* Escala el video al 125% y lo centra */
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video cubra todo el contenedor */
    z-index: -1; /* Coloca el video detrás del contenido */
}

@media(max-width:750px){
    .inicio{
        background-image: url("../../../assets/sky.jpg");
    }
    .inicio img{
        transform: scale(0.65);
    }
}