body{
    margin:0;
    padding: 0;
    /*background: linear-gradient(245.59deg, #6b3d6b 0%, #7d5780 28.53%, #5f3e5f 75.52%);*/
    /*font-family: "Poppins", sans-serif;*/
    text-decoration: none;
    color:white;
    scrollbar-width: none;
}

#title-dialog{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #title-dialog > button{
    width: 50px;
    height: 25px;
  }
  #dialogo{
    padding:5px 25px;
    border:none;
    border-radius: 20px;
    background-color: #fff;
  }
  div:where(.swal2-container) .swal2-html-container {
    text-align: left !important;
  }
  
  /*Rarezas*/
  #Common{
    color:rgb(37, 151, 46);
  }
  #Rare{
    color:#638ECB;
  }
  #SuperRare{
    color:#5433A9;
  }
  #Legendary{
    /*color:#FFBA08;*/
    color:#FAA307;
  }

  /*evitar desboradmientos del sweet alert en movil*/
  html, body {
  overflow-x: hidden;
  }
