body{
    margin:0;
    padding: 0;
    /*background: linear-gradient(245.59deg, #6b3d6b 0%, #7d5780 28.53%, #5f3e5f 75.52%);*/
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color:white;
    scrollbar-width: none;
}